{% extends "base.html.twig" %}

{% block title %}Modifier Entrprise{% endblock %}
{% block content %}
    <h1>Modifier Entreprise</h1>

    <div class="row">
        <div class="col">
            <div class="card spur-card">
                <div class="card-header">
                    <div class="spur-card-icon">
                        <i class="fas fa-building"></i>
                    </div>
                    <div class="spur-card-title"> Modifier </div>
                </div>
                <div class="card-body ">
                    <form action="/company/edit_submit/{{ company['id'] }}" method="POST">
                        <div class="form-group">
                            <label for="name">Raison Social</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Exemple SARL" value="{{ company['name'] }}" required>
                        </div>
                        <div class="form-group">
                            <label for="departement">Département</label>
                            <select class="form-control" id="departement" name="departement" required>
                                {% for key, value in departements %}
                                    <option {% if company['postal_code'] == key %} selected {% endif %} value="{{key}}">{{value}}</option>

                                {% endfor %}
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Valider</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}